@model VoteMaster.Models.Poll
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<h3>@Model.Title</h3>
<p>@Model.Description</p>
<form method="post" action="/Client/Vote/Cast">
    <input type="hidden" name="PollId" value="@Model.Id" />
    <div class="list-group mb-3">
        @foreach (var o in Model.Options) {
            <label class="list-group-item">
                <input class="form-check-input me-1" type="radio" name="optionId" value="@o.Id" required />
                @o.Text
            </label>
        }
    </div>
    <button class="btn btn-success">Submit Vote</button>
</form>
